<% if (post && index){ %>
<li class="list-group-item title">
    <a href="<%- url_for(post.path)%>"><%= post.title%></a>
</li>
<% } else { %>
<h2 class="title"><%= post.title%></h2>
<%- post.content %>
<% if (post.showAd) { %>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- Auto Size -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-7111732968167538"
     data-ad-slot="5336462405"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
<% } %>
<div class="copyright">
           <p><span>本文标题:</span><a href="<%- url_for(post.path)%>"><%= post.title%></a></p>
           <p><span>文章作者:</span><a href="/" title="访问 <%= theme.author%>  的个人博客"><%= theme.author%> </a></p>
           <p><span>发布时间:</span><%= post.date.format("YYYY年M月D日 - HH时mm分") %></p>
           <p><span>原始链接:</span><a href="<%- url_for(post.path)%> " title="<%= post.title%> "><%= post.permalink%></a></p>
           <p><span>许可协议:</span><i class="fa fa-creative-commons"></i> <a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/" title="Attribution-NonCommercial 4.0 International (CC BY-NC 4.0)">"Attribution-NonCommercial 4.0"</a></p>
           <p><span>转载请保留以上信息。</span></p>
        </div>
<% } %>
