<% if (post && index){ %>
<li class="list-group-item title">
    <a href="<%- url_for(post.path)%>"><%= post.title%></a>
</li>
<% } else { %>
<h2 class="title"><%= post.title%></h2>
<%- post.content %>
<% if (post.showAd) { %>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- Auto Size -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-7111732968167538"
     data-ad-slot="5336462405"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
<% } %>
<% if (copyright) { %>
<br/>
<div class="copyright">
           <p><span>本文标题: </span><a href="<%- url_for(post.path)%>"><%= post.title%></a>
           <br/><span>文章作者: </span><a href="/" title="访问 <%= theme.author%>  的个人博客"><%= theme.author%> </a>
           <br/><span>发布时间: </span><%= post.date.format("YYYY年M月D日 - HH时mm分") %>
           <br/><span>原始链接: </span><a href="<%- url_for(post.path)%> " title="<%= post.title%> "><%= post.permalink%></a>
           <br/><span>许可协议: </span><a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/"><img alt="知识共享许可协议" style="border-width:0" src="https://i.creativecommons.org/l/by-nc/4.0/80x15.png" /></a>
           <br/><span> 转载请保留以上信息 </span></p>
        </div>
<% } %>
<% } %>
