<% if (post && index){ %>
<li class="list-group-item title">
    <a href="<%- url_for(post.path)%>"><%= post.title%></a>
</li>
<% } else { %>
<a name="TOP"></a>
<h2 class="title"><%= post.title%></h2>
<%- post.content %>
<% if (copyright) { %>
<br/>
<div class="copyright">
           <p><span>本文标题: </span><a href="<%- url_for(post.path)%>"><%= post.title%></a></p>
           <p><span>文章作者: </span><a href="/" title="访问 <%= theme.author%>  的个人博客"><%= theme.author%> </a></p>
           <p><span>发布时间: </span><%= post.date.format("YYYY年M月D日 - HH时mm分") %></p>
           <p><span>原始链接: </span><a href="<%- url_for(post.path)%> " title="<%= post.title%> "><%= post.permalink%></a></p>
           <p><span>许可协议: </span><a class="reset-this" rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/" target="_blank"><img class="reset-this" alt="知识共享许可协议" src="https://i.creativecommons.org/l/by-nc/4.0/80x15.png" /></a></p>
           <p><span> 转载请保留以上信息 </span></p>
        </div>
<% } %>
<nav class="floating-menu">
	<a href="#TOP" title="Top">▲</a>
	<a href="/" title="Home">◀</a>
	<a href="#BOTTOM" title="Bottom">▼</a>
</nav>
<% } %>
